.img {
	transition: box-shadow 0.3s linear;
	width: 288px;
	height: 240px;
	object-fit: cover;
	border: 1px solid var(--accentColor);
	border-radius: 5px;
}

@media (min-width:768px) {
	.img {
		width: 350px;
	}
}

.img:hover,
.img:focus {
	box-shadow: var(--boxShadow);
	cursor: pointer;
}